/* ==========================================================================
   Forms - Radio
   ========================================================================== */
$radio-top: 3px;
$radio-outer-size: 16px;
$radio-inner-size: 14px;
$radio-inner-offset: ($radio-outer-size - $radio-inner-size) / 2;

input[type=radio] {
    position: absolute;

    display: block;

    opacity: 0;

    & + label {
        position: relative;

        display: flex;
        flex-direction: column;
        margin-top: 0;
        padding-left: 26px;

        font-size: 18px;

        line-height: 1.3;

        cursor: pointer;

        .radio__label__subtext {
            font-size: $font-size--smaller;

            opacity: .7;

            transition: opacity .3s ease;
        }

        .radio__label__link {
            font-size: $font-size--smaller;

            opacity: .7;

            transition: opacity .3s ease;

            pointer-events: none;
        }

        &:before {
            content: '';

            position: absolute;
            top: $radio-top;
            left: 0;

            width: $radio-outer-size;
            height: $radio-outer-size;

            background-color: $white;

            border: 1px solid $radio-border;
            border-radius: 100%;

            transition: all .3s ease-in-out;
        }

        &:after {
            content: '';

            position: absolute;
            top: $radio-top + 1;
            left: 1px;

            width: $radio-outer-size;
            height: $radio-outer-size;

            background-color: $white;

            border-radius: 100%;

            transition: all .3s ease-in-out;
        }
    }

    &:checked + label:before {
        background-color: $blue;

        border-color: $blue;
    }

    &:checked + label:after {
        top: $radio-top + 5;
        left: 5px;

        width: 8px;
        height: 8px;
    }

    &:checked + label {
        .radio__label__subtext {
            opacity: 1;
        }

        .radio__label__link {
            opacity: 1;

            pointer-events: all;
        }
    }
}

.radio {
    margin-top: 20px;
}
