/* ==========================================================================
   Config - General - Fonts

   This file is exclusively intended for setting up variables
   Never add styles directly to this file
   ========================================================================== */

/* Font family
   ========================================================================== */
$font-family--primary: "Source sans pro", "Arial", "Helvetica", sans-serif;

/* Text sizes
   ========================================================================== */
$font-size--smaller:    14px;
$font-size:             16px;
$font-size--larger:     18px;
$font-size--large:      29px;
