/* ==========================================================================
   Sizes

   This file is exclusively intended for setting up variables
   Never add styles directly to this file
   ========================================================================== */

/* Screen sizes
   ========================================================================== */
$screen-xs: 375px;
$screen-sm: 480px;
$screen-md: 640px;
$screen-lg: 768px;
$screen-xl: 1200px;
$screen-xxl: 1440px;

/* Widths
   ========================================================================== */
$container-width: 1300px;

/* Widths
   ========================================================================== */
$container-padding: 20px;
$container-padding--sm: 35px;
$container-padding--md: 55px;
