/* ==========================================================================
   Assignment 1 - User Input
   ========================================================================== */

.userInput {
    padding: 5px;

    border: 1px solid #CCCCCC;
    border-radius: 8px;

    outline: 0;
}
