/* ==========================================================================
   Assignment 1 - User Output
   ========================================================================== */

.userOutput {
    margin-top: 10px;

    font-weight: bold;
}

p {
    margin: 0;
    padding: 0;
}
