/* ==========================================================================
   Components - Blocks - a
   ========================================================================== */

a {
    color: $black;

    &:hover,
    &:active,
    &:link,
    &:visited {
        color: $black;
    }

    img {
        text-decoration: none;

        border: none;
    }
}
