/* ==========================================================================
   Blocks - Flash Message
   ========================================================================== */

.flash-message {
    position: relative;

    display: inline-flex;
    align-items: center;
    padding: 17px 47px 17px 15px;

    font: {
        size: $font-size--larger;
    }

    color: $flash-message-color;
    background-color: $flash-message-background;

    &--full {
        display: flex;
        justify-content: center;
    }

    .flash-message__close {
        position: absolute;
        right: 15px;

        width: 17px;
        height: 17px;
    }
}
