/* ==========================================================================
   Components - Blocks - Links
   ========================================================================== */

a,
a:hover,
a:link,
a:active,
a:visited {
    color: $link-color;

    text-decoration: none;
}
