/* ==========================================================================
   Components - Blocks - person
   ========================================================================== */

.person {
    display: inline-block;
    width: 200px;
    margin: 10px;
    padding: 20px;

    border: 1px solid #EEEEEE;

    box-shadow: 0 2px 2px #CCCCCC;
}
