#root {
    display: flex;

    min-height: 100%;
}

.app {
    width: 100%;
}

.step {
    display: flex;
    flex-direction: row;
    width: 100%;
    padding-bottom: 100px;
}

.step1 {
    background-color: $grey--lighter;
}

.delivery-method {
    background-color: $white;

    @media (min-width: $screen-lg) {
        background: linear-gradient(to right, $grey--lighter 0%, $grey--lighter 50%, $white 50%, $white 100%);
    }
}

.splitview__first {
    background-color: $white;

    @media (min-width: $screen-lg) {
        background-color: $grey--lighter;
    }
}

.splitview__second {
    background-color: $white;
}


.chosen-method {
    display: flex;
    flex-direction: column;
    padding: 20px 0;

    border-bottom: 2px solid $border-color;

    @media (min-width: $screen-sm) {
        flex-direction: row;
    }
}

.chosen-method__first {
    flex: 1 0 40%;
}

.chosen-method__second {
    flex: 1 0 60%;
}

.chosen-method__description__link {
    display: block;
}
