.cart-item {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%;
    margin-bottom: 4px;
    padding: 11px 0 13px;

    border-bottom: 2px solid $border-color;
}

.cart-item__profile {
    display: flex;
    flex: 1 0 250px;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 10px;

    @media (min-width: $screen-lg) {
        justify-content: flex-start;

        margin-bottom: 0;
    }
}

.cart-item__profile__picture {
    position: relative;
    flex: 0 0 auto;

    width: 74px;
    height: 74px;
    margin-right: 23px;

    background-color: $picture-background;

    &[data-amount]:after {
        content: attr(data-amount);

        position: absolute;
        top: -8px;
        right: -12px;

        display: flex;
        justify-content: center;
        align-content: center;

        width: 25px;
        height: 25px;

        font: {
            size: $font-size--smaller;
            weight: 600;
        }

        color: $white;

        line-height: 1.8;

        background: $picture-amount-background;

        border-radius: 50%;
    }
}

.cart-item__profile__picture__image {
    width: 100%;
    height: 100%;
}

.cart-item__details {
    flex-wrap: wrap;
    width: 100%;

    @media (min-width: $screen-md) {
        display: flex;
        flex: 1;
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-start;
    }

    @media (min-width: $screen-lg) {
        flex-wrap: nowrap;
        margin-top: 20px;
    }
}

.cart-item__profile__name {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.cart-item__pricing {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    width: 100%;
    margin-top: 10px;

    &--simple {
        width: auto;
    }

    @media (min-width: $screen-lg) {
        align-self: center;

        width: 400px;
        margin-top: 0;

        &--simple {
            width: auto;
        }
    }
}

.cart-item__pricing__first {
    display: flex;

    flex-direction: column;
    margin-bottom: 10px;

    @media (min-width: $screen-sm) {
        flex-direction: row;
    }
}

.cart-item__pricing__price {
    display: flex;
    align-items: center;
    margin-right: 25px;

    font-size: $font-size--larger;
}

.cart-item__pricing__total {
    display: flex;
    align-items: center;

    font: {
        size: 18px;
        weight: 600;
    }
}

.cart-item__pricing__controls {
    display: flex;
    flex: 1;

    margin: 10px 0;

    @media (min-width: $screen-sm) {
        flex-direction: row;
        margin: 0;
    }
}

.cart-item__pricing__control__input {
    width: 40px;
    margin: 0 4px;

    text-align: center;
}

.basket-summary {
    margin: 0 65px;
}

